@model IEnumerable<ProjetoBenner.Models.Acesso>

@{
    ViewBag.Title = "";
     if(Session["Codigo_Acesso"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if (Session["Codigo_Acesso"] != null)
    {
        if (Session["Tipo"].ToString() != "ADM")
        {
            Response.Redirect("~/Login/Index");
        }
    }

}


<p>
    @Html.ActionLink("Cadastrar Novo Administrador", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Codigo_Acesso }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Codigo_Acesso }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Codigo_Acesso })
        </td>
    </tr>
}

</table>
