@model ProjetoBenner.Models.Medico
@{
    Layout = null;
    if(Session["Codigo_Acesso"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if (Session["Codigo_Acesso"] != null)
    {
        if (Session["Tipo"].ToString() != "ADM")
        {
            Response.Redirect("~/Login/Index");
        }
    }

}
<!DOCTYPE Html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.1">
    <title>Cadastro de Médico</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/CadastroPessoa.css">
  

</head>
<body>
    <div class="form-container">
        <div class="page-header">
            <h1>Cadastro de Médico</h1>
        </div>
        @using (Html.BeginForm("Medico", "CadastroMedico"))
        {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Preencha com as informações</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            
                            @Html.DropDownListFor(model => model.Codigo_Pessoa, ViewBag.Pessoa as SelectList, "--Selecione a Pessoa--", new { @class = "form-control"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.CRM, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CRM, new { htmlAttributes = new { @class = "form-control", placeholder = "CRM" } })
                            @*@Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })*@
                        </div>
                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.Estado.UF, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.Estado.UF, (SelectList)ViewBag.Estado, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <div class="input-group datepicker">
                                @Html.LabelFor(model => model.Data_Admissao, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Data_Admissao, new { htmlAttributes = new { @class = "form-control", id = "datefield", type = "date" } })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Codigo_Especialidade, htmlAttributes: new { @class = "control-label"})
                            @Html.DropDownListFor(model => model.Codigo_Especialidade, ViewBag.Especialidade as SelectList, "--Selecione a Especialidade--", new { @class = "form-control"})
                        </div>
                    </div>

                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Próximo" class="btn btn-primary"   />
                    </div>
                </div>
        }
    </div>
    <script type="text/javascript">
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("datefield").setAttribute("max", today);
    </script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/validacao_ptbr.js"></script>
    <script src="~/Scripts/mascaras.js"></script>
</body>
</html>