@model ProjetoBenner.Models.Medico

@{
    ViewBag.Title = "Deletar";
    if(Session["Codigo_Acesso"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if (Session["Codigo_Acesso"] != null)
    {
        if (Session["Tipo"].ToString() != "ADM")
        {
            Response.Redirect("~/Login/Index");
        }
    }
}

    <h3 style="text-align:center">Tem certeza que deseja excluir?</h3>
    <div>
        <h4>Excluir Medico</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Data_Admissao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Data_Admissao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CRM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CRM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descricao_Especialidade.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao_Especialidade.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Estado.UF)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estado.UF)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pessoa.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pessoa.Nome)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @*<div class="form-actions no-color">
                <input type="submit" value="Deletar" class="btn btn-default" /> |
                @Html.ActionLink("Voltar", "Index")
            </div>*@

            <p style="margin-left: 40%">


                <input type="submit" value="Excluir" class="btn btn-primary" />

                <a href="@Url.Action("Index","Medicos") ">
                    <input type="button" value="Voltar" class="btn btn-primary" @*style="margin-top:3%;  width: 80px; height: 40px; color: #fff; background-color: #ff9900; border-color: #ff9900"*@>
                </a>
            </p>

        }
    </div>
