@model ProjetoBenner.Models.Agendado
@{
    Layout = null;
    if (Session["Codigo_Acesso"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if (Session["Codigo_Acesso"] != null)
    {
        if(Session["Tipo"].ToString() == "Paciente")
        {
             Response.Redirect("~/Login/Index");
        }
    }
}
<!DOCTYPE HTML>
<html>
<head>
    <title>AgendaON - Agendar Consulta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Medical Appointment Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs Sign up Web Templates,
 Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/agendar/css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" />

    <link href="~/Content/agendar/css/StyleSheet1.css" rel="stylesheet" />

    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <!--//fonts-->
</head>
<body>
    <!--background-->
    <h1 style="margin-top: 5%; margin-bottom: 5%"> Agendar Consulta </h1>
    <div class="bg-agile">
        @if (ViewBag.MensagemErro ?? false)
        {
            <div class="row col-md-12">
                <p class="alert alert-danger">O horário selecionado não está disponivel!</p>
            </div>
        }
    <div class="book-appointment">
        @using (Html.BeginForm("agendar", "AgendarConsultaS"))
        {
            <div class="left-agileits-w3layouts same">
                <div class="gaps">
                    <p>Especialidade</p>
                    @Html.DropDownList("EspecialidadeList", ViewBag.EspecialidadeList as SelectList, new { @class = "form-control" })
                 </div>
                <div class="gaps">
                    <p>Medico</p>
                    @Html.DropDownListFor(model => model.Codigo_Medico, new SelectList(" "), "--SELECIONE O MÉDICO--", new { @class = "form-control", id = "MedicoList" })
                    @Html.ValidationMessageFor(model => model.Codigo_Medico ,"", new { @class = "text-danger" }))
                </div>


                <div class="gaps">
                    <p>Data da Consulta</p>
                    @Html.EditorFor(model => model.Data_Consulta, new { htmlAttributes = new { @class = "form-control", id = "datefield", type = "date" } })
                    @Html.ValidationMessageFor(model => model.Data_Consulta, "", new { @class = "text-danger" }))
                </div>
                <div class="gaps">
                    <p>Hora da Consulta</p>
                    @*@Html.EditorFor(model => model.Hora_Consulta, new { htmlAttributes = new { @class = "form-control", type = "time", placeholder = "hh:mm" } })*@
                    @Html.DropDownListFor(model => model.Hora_Consulta, ViewBag.Horario as SelectList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Hora_Consulta, "", new { @class = "text-danger" }))
                </div>
                <div class="gaps">
                    <p>Paciente</p>
                    @Html.DropDownListFor(model => model.Codigo_Pessoa, ViewBag.Pessoa as SelectList, "--SELECTIONE O PACIENTE--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Codigo_Pessoa, "", new { @class = "text-danger" }))
                </div>
            </div>
            <div class="right-agileinfo same">
                <div class="gaps">
                    <p>Sintomas</p>
                    <style>
                        textarea {
                            font-family: inherit;
                            height: 65px;
                    </style>
                        @Html.TextAreaFor(model => model.Pre_Consulta.Sintomas, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        
                </div>
                <div class="gaps">
                    <p>Remedios que está tomando</p>
                    @Html.TextAreaFor(model => model.Pre_Consulta.Remedios_Tomando, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                </div>
                <div class="gaps">
                    <p>Diagnósticos Anteriores</p>
                    @Html.TextAreaFor(model => model.Pre_Consulta.Diagnostico_Anterior, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                </div>
                <div class="gaps">
                    <p>Observação</p>
                    @Html.TextAreaFor(model => model.Pre_Consulta.Observacao, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                </div>
            </div>
            <div class="clear"></div>
            <input type="submit" value="Marcar Consulta" style="float:right">
            <a href="@Url.Action("Funcionario","Dashboard")">
                <input type="button" value="Voltar" @*class="btn btn-success btn-outline  mt-5"*@ style="margin-top:3%;  width: 80px; height: 40px; color: #fff; background-color: #ff9900; border-color: #ff9900">
            </a>
        }
    </div>
    </div>


    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/wickedpicker.js"></script>
    <script type="text/javascript">
        $('.timepicker').wickedpicker({ twentyFour: false });
    </script>
    <script>
        $(document).ready(function () {
            $("#EspecialidadeList").change(function () {
                $.get("AgendarConsulta/GetMedicoList", { codigoEspecialidade: $("#EspecialidadeList").val() }).done(function (data) {
                    $("#MedicoList").html("");
                    $.each(data, function (index, row) {
                        $("MedicoList").empty();
                        $("#MedicoList").append("<option value='" + Object.values(row)[0] + "'>" + Object.values(row)[1] + "</option>");

                    });


                });
            })
             $("#EspecialidadeList").change(function () {
                $.get("GetMedicoList", { codigoEspecialidade: $("#EspecialidadeList").val() }).done(function (data) {
                    $("#MedicoList").html("");
                    $.each(data, function (index, row) {
                        $("MedicoList").empty();
                        $("#MedicoList").append("<option value='" + Object.values(row)[0] + "'>" + Object.values(row)[1] + "</option>");

                    });


                });
            })
        });
    </script>
    <script type="text/javascript">
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("datefield").setAttribute("min", today);
    </script>

</body>
</html>