@model IEnumerable<ProjetoBenner.Models.Pessoa>

@{
    ViewBag.Title = "";
    if (Session["Codigo_Acesso"] == null)
    {
        Response.Redirect("~/Login/Index");
    }

}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RG)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>


        @*<th>
                @Html.DisplayNameFor(model => model.Endereco.Endereco1)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RG)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>


            <td>

                <a href="@Url.Action("Edit","Paciente" ,new { id = item.Codigo_Pessoa}) ">
                    <input type="button" value="Editar" class="btn btn-primary" @*style="margin-top:3%;  width: 80px; height: 40px; color: #fff; background-color: #ff9900; border-color: #ff9900"*@>
                </a>
                <a href="@Url.Action("Details","Paciente", new { id = item.Codigo_Pessoa }) ">
                    <input type="button" value="Detalhes" class="btn btn-primary" @*style="margin-top:3%;  width: 80px; height: 40px; color: #fff; background-color: #ff9900; border-color: #ff9900"*@>
                </a>
                <a href="@Url.Action("Delete", "Paciente", new { id = item.Codigo_Pessoa}) ">
                    <input type="button" value="Excluir" class="btn btn-primary" @*style="margin-top:3%;  width: 80px; height: 40px; color: #fff; background-color: #ff9900; border-color: #ff9900"*@>
                </a>
                @*@Html.ActionLink("Editar", "Edit", new { id = item.Codigo_Pessoa }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Codigo_Pessoa }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Codigo_Pessoa })*@
            </td>
        </tr>
    }


</table>
