@model ProjetoBenner.Models.Secretaria

@{
    ViewBag.Title = "Deletar";
    if(Session["Codigo_Acesso"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if (Session["Codigo_Acesso"] != null)
    {
        if (Session["Tipo"].ToString() != "ADM")
        {
            Response.Redirect("~/Login/Index");
        }
    }
}

<h3>Tem certeza que deseja excluir?</h3>
<div>
    <h4>Secretaria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data_Admissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Admissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_Entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_Entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_Saida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_Saida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
