@model ProjetoBenner.Models.Secretaria

@{
    ViewBag.Title = "Detalhes";
    if (Session["Codigo_Acesso"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if (Session["Codigo_Acesso"] != null)
    {
        if (Session["Tipo"].ToString() != "ADM")
        {
            Response.Redirect("~/Login/Index");
        }
    }
}

<link href="~/Content/StyleSheet2.css" rel="stylesheet" />
<link href="~/Content/Detalhes.css" rel="stylesheet" />


<div class="col-lg-12">
    <div class="register-form-w3layouts" style="margin-top:3%">

        <div>
            <h2 style="text-align:center; color:white">Detalhes Secretária</h2>
            <hr />
            <div class="panel-body">
                <div class="details col-md-6" style="width: 550px">
                    <div class="panel panel-default text-center" style="color:black">
                        <h3><div class="panel-title"><span class="glyphicon glyphicon-list-alt"></span>@Html.DisplayNameFor(model => model.Pessoa.Nome)</div></h3>
                        <hr>
                        <h4>@Html.DisplayFor(model => model.Pessoa.Nome)</h4>
                    </div>
                    <div class="panel panel-default text-center" style="color:black">
                        <h3><div class="panel-title"><span class="glyphicon glyphicon-list-alt"></span>@Html.DisplayNameFor(model => model.Data_Admissao)</div></h3>
                        <hr>
                        <h4>@Html.DisplayFor(model => model.Data_Admissao)</h4>
                    </div>
                    <div class="panel panel-default text-center" style="color:black">
                        <h3><div class="panel-title"><span class="glyphicon glyphicon-list-alt"></span>@Html.DisplayNameFor(model => model.Hora_Entrada)</div></h3>
                        <hr>
                        <h4>@Html.DisplayFor(model => model.Hora_Entrada)</h4>
                    </div>
                    <div class="panel panel-default text-center" style="color:black">
                        <h3><div class="panel-title"><span class="glyphicon glyphicon-list-alt"></span>@Html.DisplayNameFor(model => model.Hora_Saida)</div></h3>
                        <hr>
                        <h4>@Html.DisplayFor(model => model.Hora_Saida)</h4>
                    </div>
                </div>
                <p style="margin-left: 40%">
                    <a href="@Url.Action("Edit","Secretarias" ,new { id = Model.Codigo_Secretaria }) ">
                        <input type="button" value="Editar" class="btn btn-primary" @*style="margin-top:3%;  width: 80px; height: 40px; color: #fff; background-color: #ff9900; border-color: #ff9900"*@>
                    </a>
                    <a href="@Url.Action("Index","Secretarias") ">
                        <input type="button" value="Voltar" class="btn btn-primary" @*style="margin-top:3%;  width: 80px; height: 40px; color: #fff; background-color: #ff9900; border-color: #ff9900"*@>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

