@model ProjetoBenner.Models.Local

@{
    ViewBag.Title = "Deletar";
    if(Session["Codigo_Acesso"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if (Session["Codigo_Acesso"] != null)
    {
        if (Session["Tipo"].ToString() != "ADM")
        {
            Response.Redirect("~/Login/Index");
        }
    }
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<h3 style="text-align:center">Tem certeza que deseja excluir?</h3>
<div>
    <h4>Excluir Local</h4>
    <hr />
    @if (ViewBag.MensagemErro ?? false)
    {
        <div class="row col-md-12">
            <p class="alert alert-danger">Local com Medico Cadastrado</p>
        </div>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco.Endereco1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco.Endereco1)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @*<div class="form-actions no-color">
                <input type="submit" value="Deletar" class="btn btn-default" /> |
                @Html.ActionLink("Voltar", "Index")
            </div>*@

        <p style="margin-left: 40%">


            <input type="submit" value="Excluir" class="btn btn-primary" />

            <a href="@Url.Action("Index","Locals") ">
                <input type="button" value="Voltar" class="btn btn-primary" @*style="margin-top:3%;  width: 80px; height: 40px; color: #fff; background-color: #ff9900; border-color: #ff9900"*@>
            </a>
        </p>

    }
</div>
