@model IEnumerable<ProjetoBenner.Models.Local>

@{
    ViewBag.Title = "Locais";
    if(Session["Codigo_Acesso"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if (Session["Codigo_Acesso"] != null)
    {
        if (Session["Tipo"].ToString() != "ADM")
        {
            Response.Redirect("~/Login/Index");
        }
    }
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco.Endereco1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco.Endereco1)
        </td>
        <td>

            <a href="@Url.Action("Edit","Locals" ,new { id = item.Codigo_Local }) ">
                <input type="button" value="Editar" class="btn btn-primary" @*style="margin-top:3%;  width: 80px; height: 40px; color: #fff; background-color: #ff9900; border-color: #ff9900"*@>
            </a>
            <a href="@Url.Action("Details","Locals", new { id = item.Codigo_Local}) ">
                <input type="button" value="Detalhes" class="btn btn-primary" @*style="margin-top:3%;  width: 80px; height: 40px; color: #fff; background-color: #ff9900; border-color: #ff9900"*@>
            </a>
            <a href="@Url.Action("Delete", "Locals", new { id = item.Codigo_Local }) ">
                <input type="button" value="Excluir" class="btn btn-primary" @*style="margin-top:3%;  width: 80px; height: 40px; color: #fff; background-color: #ff9900; border-color: #ff9900"*@>
            </a>


            @*@Html.ActionLink("Editar", "Edit", new { id=item.Codigo_Local }) |
        @Html.ActionLink("Detalhes", "Details", new { id=item.Codigo_Local }) |
        @Html.ActionLink("Excluir", "Delete", new { id=item.Codigo_Local })*@
        </td>
    </tr>
}

</table>
