@model IEnumerable<ProjetoBenner.Models.Local>

@{
    ViewBag.Title = "Locais";
}


<p>
    <a href="@Url.Action("ADM", "Dashboard")">Voltar</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco.Endereco1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco.Endereco1)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Codigo_Local }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Codigo_Local }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Codigo_Local })
        </td>
    </tr>
}

</table>
