@model IEnumerable<ProjetoBenner.Models.Agendado>

@{
    ViewBag.Title = "Consultas";
    if(Session["Codigo_Acesso"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if (Session["Codigo_Acesso"] != null)
    {
        if (Session["Tipo"].ToString() == "Paciente")
        {
            Response.Redirect("~/Login/Index");
        }
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data_Consulta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_Consulta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consulta_Confirmada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeMedico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pre_Consulta.Sintomas)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Consulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora_Consulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consulta_Confirmada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeMedico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pre_Consulta.Sintomas)
            </td>
            <td>

                <a href="@Url.Action("Edit","Agendadoes" ,new { id = item.Codigo_Agendado }) ">
                    <input type="button" value="Editar" class="btn btn-primary" @*style="margin-top:3%;  width: 80px; height: 40px; color: #fff; background-color: #ff9900; border-color: #ff9900"*@>
                </a>
                <a href="@Url.Action("Details","Agendadoes", new { id = item.Codigo_Agendado }) ">
                    <input type="button" value="Detalhes" class="btn btn-primary" @*style="margin-top:3%;  width: 80px; height: 40px; color: #fff; background-color: #ff9900; border-color: #ff9900"*@>
                </a>
                <a href="@Url.Action("Delete", "Agendadoes", new { id = item.Codigo_Agendado }) ">
                    <input type="button" value="Excluir" class="btn btn-primary" @*style="margin-top:3%;  width: 80px; height: 40px; color: #fff; background-color: #ff9900; border-color: #ff9900"*@>
                </a>


                @*@Html.ActionLink("Editar", "Edit", new { id = item.Codigo_Agendado }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Codigo_Agendado }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Codigo_Agendado })*@
            </td>
        </tr>
    }

</table>
