@model ProjetoBenner.Models.Acesso
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/Login/Login.css" rel="stylesheet" />
</head>
<body>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <div class="main">
        <div class="container" style="position:absolute">

            <div id="login-div">

                <h1 class="texto">Login</h1>
                <p></p>
                <br />
                <div class="midlle">
                    <div id="login">
                        <fieldset class="clearfix">


                            @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
                            {


                            <div class="icon1">
                                <span class="fa fa-user"></span>
                                @Html.EditorFor(Model => Model.Email, new { @class = "form-control ", type = "email", placeholder = "Email Address", required = "" })
                                

                            </div>

                                <div>
                                    @Html.ValidationMessageFor(Model => Model.Email)
                                </div>

                                <div class="icon1">
                                    <span class="fa fa-lock"></span>
                                    @Html.EditorFor(Model => Model.Password, new { @class = "form-control ", type = "password", placeholder = "Password", required = "" })
                                    

                                </div>

                                <div>
                                    @Html.ValidationMessageFor(Model => Model.Password)
                                </div>

                                <div colspan="2">
                                    <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                                </div>

                                <input class="botao" type="submit" name="name" value="Login" />
                            }
                            <div>
                                <span style="width:48%; text-align:left;  display: inline-block;">
                                    <a class="small-text" href="@Url.Action("ForgotPassword")">
                                        Esqueceu a Senha?
                                    </a>

                                </span>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="logo">
                    AgendaON
                    <div class="clearfix"></div>

                </div>


            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

